*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
gradlew
gradlew.bat
settings.gradle
*.properties
.idea/
app/build.gradle
app/libs/
app/src/main/res/drawable/
app/src/main/res/mipmap-hdpi/
app/src/main/res/mipmap-mdpi/
app/src/main/res/mipmap-xhdpi/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
build.gradle
gradle.properties
gradle/
